<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Trainingsfortschritt</title>
</head>
<body>
    <h1>Dein Trainingsfortschritt</h1>
    
    {% if sessions %}
        <table border="1">
            <thead>
                <tr>
                    <th>Session ID</th>
                    <th>Trainingsplan</th>
                    <th>Datum</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td>{{ session[0] }}</td>
                    <td>{{ session[1] }}</td>
                    <td>{{ session[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Keine Trainingssessions gefunden.</p>
    {% endif %}
</body>
</html>


